/Criatura.class
/Grafo.class
/Jogador.class
/Monstro.class
/Nos.class
/Arma.class
/Efeito.class
/Status.class
/Colar.class
/Riqueza.class
/LerArquivo.class
/EspadaFerro.class
/Chamas.class
/Queimado.class
/EspadaFogo.class
/Tesouro.class
/Bau.class
/ColarCura.class
/Envenenado.class
/EspadaVenenosa.class
/Rapiera.class
/Garras.class
/Garra.class
/Ki.class
/Maleta.class
/Jogo.class
/Apedrejamento.class
/Armadilha_de_dardos.class
/Calmaria.class
/Efeito_de_terreno.class
/Lagartas_de_fogo.class
